= content_for(:head) do
  = stylesheet_link_tag 'homepage/about.css'

.narrow_wrapper
  %h2 About Us
  %p
    OpenProtocol is a place to share the most fundamental unit of a research project: the experimental protocol. With a protocol in hand, any researcher can replicate an experiment they've read about, or adopt a technique for their own purposes. Questions? Get in touch:
    = link_to("questions@openprotocols.net", "mailto:questions@openprotocols.net")
  
  %h2 Here's how you can use openProtocol
  %h3 Researchers
  %p
    Using openProtocol means all of you protocols will be in one place, beautifully formatted, and ready to be printed or annotated whenever you like. No more hunting around for that dogeared copy of the manual or relying on handwritten notes that postdoc gave you in 1998. Additionally, using openProtocol allows you to quickly find trusted protocols for any procedure, as well as share your own solutions with colleagues.
  %h3 Hobbyists
  %p
    OpenProtocol gives you access to the cutting edge of any technique, and further allows you to share your own work with the rest of the scientific public at large. Much of the inspiration for this project came from the open spirit of the DIY community, and we hope to be a useful tool for DIY Bio-ers everywhere!
  %h3 Teachers
  %p
    OpenProtocol contains experimental protocols for your lab science classes that have been tested by other classes around the world! By using an openProtocol experiment in your class, your students will be doing real science, and will also have a chance to contribute their own experience to improving protocols used by students in your own and other countries.

  %h2 Our story
  %p
    OpenProtocol got its start as a student project during the summer of 2009 at the Center for Interdisciplinary Research in Paris. The funding for this work has been generously provided by the CRI and the Fondation Bettencourt.
  %p
    Our team consists of a designer, a programmer, and a bunch of amazing advisors spread out of 5 cities on 3 continents.
  .staff_list
    .staff.first
      Eric Meltzer
      .title Designer
      .description
        Eric Meltzer is a student at Peking University in Beijing who studies neurobiology by day and works on interesting projects like this one by night. You can read a bit more about those projects at
        = link_to("http://ericmeltzer.org")
    .staff
      Timon Karnezos
      .title Programmer
      .description
        Timon Karnezos is a scientific programmer at a Silicon Valley startup. He contributes his time to projects like openProtocol because he believes that amazing things can happen when you apply software engineering to scientific research.
  %h3 Our advisors
  .staff_list
    .staff.first
      David Bikard
      .title Advisor
      .description
David Bikard is a French postdoc at Rockefeller University in NYC where he conducts research on bacterial genetics and synthetic biology. He strongly believes in the power of new web technologies to foster open communication among researchers and advance Science.
    .staff
      Xavier Duportet
      .title Advisor
      .description
Xavier Duportet is a French PhD student at INRIA (Paris) and MIT (Boston) in the Weiss Lab for Synthetic Biology, where he conducts research on mammalian synthetic biology for therapeutic purposes. He is strongly interested in scientific entrepreneurship and is  also the cofounder of Omeecs and Axio.me.
    .staff.first
      Wendell Lim
      .title Advisor
      .description
Wendell Lim is a professor at UCSF Mission Bay whose lab is interested in the molecular logic of cellular signalling.  His belief in the ability of young researchers to do interesting work has led him to lead several teams of high-school students in the iGEM synthetic biology competition, and he continues to work closely with San Francisco high schools to improve science outreach in the bay area.
    .staff
      Ariel Lindner
      .title Advisor
      .description
Ariel Lindner is a founding member of the CRI, a multi-disciplinary and extremely international lab space located in central Paris.  Besides his interest in synthetic biology, Ariel is interested in propagating the CRI approach to research and pedagogy around the world, and acts an advisor to several other open-science projects including WISER-U.
    .staff.first
      Rao Yi
      .title Advisor
      .description
Rao Yi is the dean of the College of Life Sciences at Peking University, and is also currently involved with the Peking University iGEM team.  Dr. Rao has supported ongoing research projects in synthetic biology in his lab since 2008, and is a great proponent of open science.    
.staff
      Ouyang Qi
      .title Advisor
      .description
Ouyang Qi is the director of the Center for Theoretical Biology at Peking University, and is one of the founding advisors of the very successful Peking University iGEM team, leading the team to a grand prize in 2008.  