#password_reset_request{:style => "text-align:center;"}
  %p To request a password reset, enter your account's email address below.
  = form_tag do
    = text_field_tag(:email, nil, :style => "width:300px;")
    = submit_tag("Request Password Reset")
  .error{:style => "text-align:center"}
    = flash[:notice]