.author_row
  .remove
    - if allow_delete
      = link_to("", "javascript:void(0)", :class => "remove_button")
    - else
      &nbsp;
  .name
    = label_tag :author_name, "Name"
    = text_field_tag :author_name